name: Compilar XtremeStreamer
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkitppc:latest
    steps:
      - name: Obtener codigo
        uses: actions/checkout@v4

      - name: Instalar Herramientas de Wii U
        run: |
          # 1. Actualizamos el gestor oficial para que no de error 404
          dkp-pacman -Sy
          # 2. Instalamos la base y el sistema de plugins (WUPS)
          dkp-pacman -S wiiu-dev wiiu-wups-dev --noconfirm

      - name: Compilar Plugin
        run: |
          # Definimos las rutas para que encuentre el archivo wups.h
          export DEVKITPRO=/opt/devkitpro
          export WUT_ROOT=$DEVKITPRO/wut
          export PATH=$PATH:$DEVKITPRO/devkitPPC/bin:$DEVKITPRO/tools/bin

          # Ejecutamos el Makefile que tienes en tu proyecto
          make

      - name: Descargar Archivo .wps
        uses: actions/upload-artifact@v4
        with:
          name: Plugin_WiiU_XtremeStreamer
          path: "*.wps"
          
