name: Compilar XtremeStreamer
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkitppc:latest
    steps:
      - name: Obtener codigo
        uses: actions/checkout@v4
      
      - name: Preparar Herramientas (Solucion 404)
        run: |
          # Instalamos las librerias oficiales directamente
          dkp-pacman -Sy
          dkp-pacman -S wiiu-dev wiiu-wups --noconfirm
          
      - name: Compilar para Windows/WiiU
        run: |
          # Definimos las rutas para que el Makefile encuentre todo
          export DEVKITPRO=/opt/devkitpro
          export DEVKITPPC=$DEVKITPRO/devkitPPC
          export WUT_ROOT=$DEVKITPRO/wut
          export PATH=$PATH:$DEVKITPPC/bin:$DEVKITPRO/tools/bin
          
          # Ejecuta tu Makefile para crear el .wps
          make
          
      - name: Descargar Plugin Final
        uses: actions/upload-artifact@v4
        with:
          name: XtremeStreamer_Windows_Ready
          path: "*.wps"
