name: Compilar
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkitppc:latest
    steps:
      - uses: actions/checkout@v4
      - name: Bypass de Servidores y Compilacion
        run: |
          # 1. Ignorar errores de bases de datos que salen en tus fotos
          echo "Siguiendo con la instalacion a pesar de fallos de red..."
          
          # 2. Configurar el repositorio para que no pida confirmacion de llaves
          dkp-pacman -Sy --noconfirm || true
          
          # 3. Intentar instalar solo lo vital. Si falla, el Makefile usara lo que ya tiene el contenedor
          dkp-pacman -S --noconfirm --needed --overwrite '*' wut wiiu-pkg-dev aroma-libs wups-dev || echo "Usando libs preinstaladas"
          
          # 4. Compilar con rutas forzadas
          export PATH=$PATH:/opt/devkitpro/devkitPPC/bin:/opt/devkitpro/tools/bin
          make
      - name: Descargar Plugin
        uses: actions/upload-artifact@v4
        with:
          name: XtremeStreamer_WiiU
          path: "*.wps"
