name: Compilar XtremeStreamer
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkitppc:latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Compilar con Archivos Internos
        run: |
          # Añadimos las herramientas básicas que ya vienen en el contenedor
          export PATH=$PATH:/opt/devkitpro/devkitPPC/bin:/opt/devkitpro/tools/bin
          
          # Compilamos usando las librerías que tú subiste al repo
          powerpc-eabi-gcc -O2 -mcpu=750 -meabi -mhard-float main.cpp -o plugin.elf \
            -I./include -L./libs -lwut -lwups -lgx2 -lcoreinit -lnsysnet
          
          # Intentamos usar el conversor interno
          /opt/devkitpro/tools/bin/wups-tool plugin.elf XtremeStreamer.wps || echo "Error conversion"

      - name: Entrega de Archivo
        uses: actions/upload-artifact@v4
        with:
          name: Plugin_WiiU
          path: "*.wps"
