name: Compilar XtremeStreamer
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkitppc:latest
    steps:
      - name: Obtener codigo
        uses: actions/checkout@v4
      
      - name: Instalar lo necesario
        run: |
          # Actualizamos e instalamos solo lo que pide tu Makefile
          dkp-pacman -Sy
          dkp-pacman -S wiiu-dev wps-dev --noconfirm
          
      - name: Compilar
        run: |
          export DEVKITPRO=/opt/devkitpro
          export DEVKITPPC=$DEVKITPRO/devkitPPC
          export WUT_ROOT=$DEVKITPRO/wut
          export PATH=$PATH:$DEVKITPPC/bin:$DEVKITPRO/tools/bin
          
          make
          
      - name: Descargar Plugin
        uses: actions/upload-artifact@v4
        with:
          name: XtremeStreamer_Listo
          path: "*.wps"
