name: Compilar XtremeStreamer
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkitppc:latest
    steps:
      - name: Obtener codigo
        uses: actions/checkout@v4
      
      - name: Instalar dependencias oficiales
        run: |
          # Esto actualiza e instala todo sin usar wget
          dkp-pacman -Sy
          dkp-pacman -S wiiu-dev wiiu-wups --noconfirm
          
      - name: Compilar Plugin
        run: |
          # Configuramos las rutas del sistema
          export DEVKITPRO=/opt/devkitpro
          export DEVKITPPC=$DEVKITPRO/devkitPPC
          export WUT_ROOT=$DEVKITPRO/wut
          export PATH=$PATH:$DEVKITPPC/bin:$DEVKITPRO/tools/bin
          
          # Compilamos usando tu Makefile
          make
          
      - name: Guardar el archivo .wps
        uses: actions/upload-artifact@v4
        with:
          name: Plugin_Final_WiiU
          path: "*.wps"
