name: Compilar
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkitppc:latest
    steps:
      - uses: actions/checkout@v4
      - name: Limpiar y Descargar
        run: |
          # Esto arregla el error de tu foto
          rm -rf /var/lib/pacman/sync/*
          dkp-pacman -Syy --noconfirm
          dkp-pacman -S --noconfirm wiiu-dev wut wiiu-pkg-dev aroma-libs wups-dev
      - name: Compilar para Windows
        run: |
          export PATH=$PATH:/opt/devkitpro/devkitPPC/bin:/opt/devkitpro/tools/bin
          make
      - name: Subir Plugin
        uses: actions/upload-artifact@v4
        with:
          name: XtremeStreamer
          path: "*.wps"
