name: Compilar
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkitppc:latest
    steps:
      - uses: actions/checkout@v4
      - name: Instalar herramientas
        run: |
          /opt/devkitpro/pacman/bin/dkp-pacman -Syyu --noconfirm wiiu-dev wut wiiu-pkg-dev aroma-libs
      - name: Compilar plugin
        run: |
          export PATH=$PATH:/opt/devkitpro/devkitPPC/bin:/opt/devkitpro/tools/bin
          make
      - name: Subir resultado
        uses: actions/upload-artifact@v4
        with:
          name: MiPlugin
          path: |
            *.wps
            *.elf
