name: Compilar
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkitppc:latest
    steps:
      - uses: actions/checkout@v4
      - name: Descarga Directa de Librerias
        run: |
          # 1. Forzar la instalacion de lo básico
          dkp-pacman -Sy --noconfirm || true
          
          # 2. Descargar e instalar manualmente las 3 librerías que fallan en tus fotos
          # Esto evita el error "target not found"
          wget https://pkg.devkitpro.org/packages/wiiu-pkg-dev-1.1.2-1-any.pkg.tar.xz
          wget https://pkg.devkitpro.org/packages/aroma-libs-1.0.0-1-any.pkg.tar.xz
          wget https://pkg.devkitpro.org/packages/wups-dev-0.5.0-1-any.pkg.tar.xz
          
          # Instalación local forzada
          dkp-pacman -U --noconfirm *.pkg.tar.xz || true
          
          # 3. Limpiar rastro de fallos anteriores
          rm -rf /opt/devkitpro/wut
          dkp-pacman -S --noconfirm --needed --overwrite '*' wut
      - name: Compilar Plugin
        run: |
          export PATH=$PATH:/opt/devkitpro/devkitPPC/bin:/opt/devkitpro/tools/bin
          make
      - name: Subir Plugin
        uses: actions/upload-artifact@v4
        with:
          name: XtremeStreamer_WiiU
          path: "*.wps"
