name: Compilar
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkitppc:latest
    steps:
      - uses: actions/checkout@v4
      - name: Instalar herramientas de Wii U
        run: |
          dkp-pacman -Syyu --noconfirm wiiu-dev wut wiiu-pkg-dev aroma-libs wups-dev
      - name: Compilar
        shell: bash
        run: |
          source /etc/profile.d/devkitpro.sh
          make
      - name: Guardar Plugin
        uses: actions/upload-artifact@v4
        with:
          name: XtremeStreamer
          path: |
            *.wps
