name: Compilar
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    # Cambiamos a una imagen que ya tiene TODO pre-configurado
    container: ghcr.io/wiiu-env/core-docker:master
    steps:
      - uses: actions/checkout@v4
      - name: Compilar Directamente
        run: |
          # En este contenedor las rutas ya estan listas
          # Solo ejecutamos el comando de compilacion
          make
      - name: Entrega de Plugin
        uses: actions/upload-artifact@v4
        with:
          name: Plugin_WiiU_Listo
          path: "*.wps"
