name: Compilar
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkitppc:latest
    steps:
      - uses: actions/checkout@v4
      - name: Limpieza y Reparacion
        run: |
          # 1. Borrar bases de datos corruptas
          rm -rf /var/lib/pacman/sync/*
          # 2. Forzar actualización de llaves de seguridad
          dkp-pacman -Syy --noconfirm
          # 3. Instalación limpia ignorando conflictos (Esto quita el error de la línea 35)
          dkp-pacman -S --noconfirm --needed wiiu-dev wut wiiu-pkg-dev
          echo -e "y\ny\n" | dkp-pacman -S --noconfirm aroma-libs wups-dev
      - name: Compilar
        run: |
          export PATH=$PATH:/opt/devkitpro/devkitPPC/bin:/opt/devkitpro/tools/bin
          make
      - name: Subir Plugin
        uses: actions/upload-artifact@v4
        with:
          name: XtremeStreamer
          path: "*.wps"
